.page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 20px 60px 20px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 21;
}

.popup__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 200px;
  align-items: center;
  gap: 20px;
  position: absolute;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.popup__content .events-btn {
  display: flex;
  align-items: center;
}
.popup__content .events-btn:hover {
  opacity: 0.8;
}
.popup__content .events-btn button {
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.popup__content .events-btn .colors__list {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  list-style: none;
  padding: 8px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup__content .events-btn .colors__list .colors__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.popup__content .events-btn .colors__list .colors__item:hover {
  opacity: 0.8;
}
.popup__content .events-btn .default-color {
  background: rgb(0, 153, 255);
}
.popup__content .events-btn .red {
  background: rgb(255, 0, 0);
}
.popup__content .events-btn .green {
  background: rgb(28, 145, 28);
}
.popup__content .events-btn .orange {
  background: rgb(240, 148, 0);
}
.popup__content .events-btn .blue {
  background: rgb(21, 0, 255);
}
.popup__content .events-btn:nth-child(2):hover .colors__list {
  display: block;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  padding: 10px;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 21;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.create-event-btn {
  background-color: #ffffff;
  border-color: #a89e9e;
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 150px;
  height: 45px;
}

.button-image {
  width: 45px;
  height: 43px;
}
.button-image .google-plus {
  width: 45px;
  height: 43px;
  object-fit: cover;
}

.navigation {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin-left: 50px;
}
.navigation__today-btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 60px;
}
.navigation__displayed-month {
  font-size: 26px;
  margin-left: 60px;
}
.navigation__nav-icon {
  margin-left: 30px;
}

.calendar {
  padding: 5px;
  padding-top: 80px;
}
.calendar__time-label {
  font-size: 10px;
  position: fixed;
  z-index: 21;
  top: 185px;
  left: 2px;
}
.calendar__header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 60px;
  width: 100%;
  height: 140px;
  background: white;
  z-index: 19;
  padding-right: 10px;
  padding-left: 47px;
}
.calendar__day-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin: 20px auto;
  position: relative;
}
.calendar__day-label .day-label__day-name {
  position: absolute;
  margin-bottom: 18px;
}
.calendar__day-label .day-label__day-number {
  position: absolute;
  top: 40px;
  font-size: 34px;
}
.calendar .today-number {
  background-color: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  top: 30px;
}
.calendar .today-name {
  color: rgb(0, 153, 255);
  margin-bottom: 10px;
}

.calendar__week {
  display: flex;
  width: 100%;
}
.calendar__week .calendar__day {
  display: grid;
  grid-template-rows: repeat(24, 60px);
  width: 100%;
}
.calendar__week .calendar__day .calendar__time-slot {
  border: 1px solid #ccc;
  height: 61px;
  border-right: none;
  border-top: none;
  position: relative;
}
.calendar__week .calendar__day .calendar__time-slot:hover {
  background-color: rgb(208, 229, 248);
}
.calendar__week .calendar__day .calendar__time-slot:first-child {
  border-top: 1px solid #ccc;
}
.calendar__week .calendar__day:last-child {
  border-right: 1px solid #ccc;
}

.time-line {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 18;
}
.time-line__circle {
  width: 5px;
  height: 5px;
  border: none;
  border-radius: 50%;
  background-color: red;
}
.time-line__rectangle {
  height: 0.5px;
  width: calc(14.2857142857vw - 15px);
  border: none;
  background-color: red;
}

.calendar__week-container {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-top: 120px;
}
.calendar__week-container .calendar__time-scale {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-right: 10px;
}
.calendar__week-container .time-slot {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  font-size: 12px;
}

.modal__content {
  width: 440px;
}
.modal__content .create-event {
  position: relative;
}
.modal__content .create-event__close-btn {
  display: block;
  margin-left: auto;
  border: none;
  background: #fff;
  cursor: pointer;
}
.modal__content .create-event__close-btn img {
  width: 15px;
  height: 15px;
}
.modal__content .create-event__clock-icon {
  position: absolute;
  top: 102px;
  width: 20px;
  height: 20px;
}
.modal__content .create-event__description-icon {
  position: absolute;
  top: 175px;
  width: 20px;
  height: 20px;
}
.modal__content .create-event .event-form {
  padding-left: 40px;
}
.modal__content .create-event .event-form__field {
  border: none;
}
.modal__content .create-event .event-form input[name=title] {
  border-bottom: 2px solid dodgerblue;
  width: -webkit-fill-available;
  margin-bottom: 50px;
}
.modal__content .create-event .event-form__time {
  margin-bottom: 50px;
}
.modal__content .create-event .event-form__time input[type=time] {
  margin-left: 10px;
}
.modal__content .create-event .event-form textarea {
  margin-bottom: 70px;
  width: -webkit-fill-available;
}
.modal__content .create-event .event-form__submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: dodgerblue;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.event {
  flex-direction: column;
  width: calc(100% - 10px);
  overflow: auto;
  background-color: rgb(0, 153, 255);
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  padding: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.event__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.event__description {
  font-size: 14px;
  margin-bottom: 5px;
}
.event__time {
  font-size: 12px;
  margin-bottom: 5px;
}
.event__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: #fff;
  cursor: pointer;
  outline: none;
  width: 15px;
  height: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
