.button {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 20px 60px 20px rgba(0, 0, 0, 0.3);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 21;
}

.popup {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    align-items: center;
    gap: 20px;
    position: absolute;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

    .events-btn {
      display: flex;
      align-items: center;

      &:hover {
        opacity: 0.8;
      }

      button {
        border: none;
        background: #fff;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
      }

      .colors__list {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        list-style: none;
        padding: 8px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        .colors__item {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
      .default-color {
        background: rgb(0, 153, 255);
      }

      .red {
        background: rgb(255, 0, 0);
      }
      
      .green {
        background: rgb(28, 145, 28);
      }
  
      .orange {
        background: rgb(240, 148, 0);
      }
  
      .blue {
        background: rgb(21, 0, 255);
      }
    }

    .events-btn:nth-child(2):hover .colors__list {
      display: block;
    }
  }
}

.hidden {
  display: none;
}
