// стили формы события внутри модального окна
.modal__content {
  width: 440px;

  .create-event {
  position: relative;

  &__close-btn {
    display: block;
    margin-left: auto;
    border: none;
    background: #fff;
    cursor: pointer;

    img {
      width: 15px;
      height: 15px;
    }
  }

  &__clock-icon {
    position: absolute;
    top: 102px;
    width: 20px;
    height: 20px;
  }

  &__description-icon {
    position: absolute;
    top: 175px;
    width: 20px;
    height: 20px;
  }

  .event-form {
    padding-left: 40px;

    &__field {
      border: none;
    }

    
    input[name="title"] {
      border-bottom: 2px solid dodgerblue;
      width: -webkit-fill-available;
      margin-bottom: 50px;
    }
    
    &__time {
      margin-bottom: 50px;

      input[type="time"] {
        margin-left: 10px;
      }
    }

    textarea {
      margin-bottom: 70px;
      width: -webkit-fill-available;
    }

    &__submit-btn {
      display: block;
      margin-left: auto;
      border: none;
      background-color: dodgerblue;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
}
