// стили боковой временной шкалы
.calendar__week-container {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-top: 120px;

  .calendar__time-scale {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-right: 10px;
  }

  .time-slot {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    font-size: 12px;
  }
}
